{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

<div class="footer">
    <div class="cln colomn1">
        <a href="#">GIFT CARDS</a>
        <a href="#">FIND A STORE</a>
        <a href="#">GYM-RAT JOURNAL</a>
        <a href="#">JOIN US</a>
        <a href="#">STUDENT DISCOUNT</a>
    </div>
    <div class="cln colomn">
        <a href="#" class="gras">GET HELP</a>
        <a href="#" class="nrml">FIND A STORE</a>
        <a href="#" class="nrml">GYM-RAT JOURNAL</a>
        <a href="#" class="nrml">JOIN US</a>
        <a href="#" class="nrml">STUDENT DISCOUNT</a>
    </div>
    <div class="cln colomn">
        <a href="#" class="gras">ABOUT GYM-SHARK</a>
        <a href="#" class="nrml">News</a>
        <a href="#" class="nrml">Careers</a>
        <a href="#" class="nrml">Investors</a>
        <a href="#" class="nrml">Uk Tax</a>
    </div>
    <div class="cln"></div>
    <div class="clnph">
        <a href="https://twitter.com/">
            <img src="{{ asset('images/twitter-logo.png') }}" alt="twitter" class="twitter">
        </a>
        <a href="https://www.instagram.com/">
            <img src="{{ asset('images/insta-logo.png') }}" alt="instagram">
        </a>
    </div>
</div>