{% block javascript %}
    <script defer src={{ asset('js/nav.js') }}></script>
{% endblock %}

<nav class="navbar">
    <a href="{{ path('app_home') }}" class="logo">
        <img src="{{ asset('images/logo.png') }}">
    </a>
    <div class="nav-links">
        <ul>
            <li class="dropdown">
                <a href="{{ path('app_item_category') }}">Category</a>
                <div class="dropdown-content">
                    {% for itemCategory in get_item_categories() %}
                        <a href="{{ path('app_item_category', {'id': itemCategory.id}) }}">{{ itemCategory.name }}</a>
                    {% endfor %}

                </div>
            </li>
            <li class="dropdown">
                <a href="{{ path('app_item_selling_category') }}">Buying</a>
                <div class="dropdown-content">
                    {% for sellingCategory in get_selling_categories() %}
                        <a href="{{ path('app_item_selling_category', {'id': sellingCategory.id}) }}">{{ sellingCategory.name }}</a>
                    {% endfor %}

                </div>
            </li>

            {% if app.user %}
                <li><a href="{{ path('app_seller') }}">Seller</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('app_admin') }}">Admin</a></li>
                {% endif %}
                <li><a href="{{ path('app_account') }}"><img src="{{ asset('images/profile.svg') }}" title="profil" alt="profil"></a></li>
                {% if is_granted('ROLE_BUYER') %}
                    <li><a href="{{ path('app_cart') }}"><img src="{{ asset('images/shopping_cart.svg') }}" title="cart" alt="cart"></a></li>
                {% endif %}
                <li><a href="{{ path('app_logout') }}"><img src="{{ asset('images/Logout.svg') }}" title="logout" alt="Logout"></a></li>

            {% else %}
                <li><a href="{{ path('app_login') }}">Login</a></li>
                <li><a href="{{ path('app_register') }}">Register</a></li>
            {% endif %}
        </ul>
    </div>
    <img src="{{ asset('images/btn-menu.png') }}" alt="menu en burger" class="menu-hamburger">
</nav>
