{% extends 'base.html.twig' %}

{% block body %}
<h1>Checkout > Address</h1>

{{ form_start(addressForm)}}
    {{ form_row(addressForm.AddressLine1) }}
    {{ form_row(addressForm.AddressLine2) }}
    {{ form_row(addressForm.City) }}
    {{ form_row(addressForm.PostalCode) }}
    {{ form_row(addressForm.Country) }}
    <div class="form-group">
        <button type="submit" class="btn ">Go to payment</button>
    </div>
{{ form_end(addressForm) }}



<a href="{{ path('app_cart') }}">Back to cart</a>
{% endblock %}

{% block title %}Checkout{% endblock %}

