{% extends 'base.html.twig' %}

{% block body %}
    <h1>Checkout > Payment</h1>

    {{ form_start(paymentForm) }}
    {{ form_row(paymentForm.cardType) }}
    {{ form_row(paymentForm.cardNumber) }}
    {{ form_row(paymentForm.cardHolderName) }}
    {{ form_row(paymentForm.expiryMonth) }}
    {{ form_row(paymentForm.expiryYear) }}

    <div>
        <h3>Total: {{ total|format_currency('GBP') }}</h3>
    </div>
    <div class="form-group">
        <button type="submit" class="btn ">BUY</button>
    </div>
    {{ form_end(paymentForm) }}



    <a href="{{ path('app_cart') }}">Back to cart</a>
{% endblock %}

{% block title %}Checkout{% endblock %}

