{% extends 'base.html.twig' %}

{% block body %}
    <h1>Checkout confimed !</h1>

    <div>
        <h3>Total paid : {{ total|format_currency('GBP') }}</h3>

    </div>

    <a href="{{ path('app_cart') }}">Back to cart</a>


{% endblock %}

{% block title %}Checkout confimed{% endblock %}

