{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/cart.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer src="{{ asset('js/item-detail.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="items">
        {% for item in items %}
            <div class="display">
                <div class="gauche">

                    <div class="carousel" data-carousel>

                        <button class="btn prev" data-carousel-btn="prev">◀</button>
                        <button class="btn next" data-carousel-btn="next">▶</button>
                        <ul data-slides>

                            {% for image in item.images %}
                                <li class="slide" data-active>
                                    <img src="{{ asset('uploads/items/mini/300x300-' ~ image.name ) }}" class="card-img-top"
                                         alt="{{ image.name }}">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="droite">
                    <div class="titre">
                        <h1>{{ item.name }}</h1>
                    </div>
                    <div class="description">
                        <p class="item-description">{{ item.description }}</p>
                    </div>
                    <div class="bas">
                        <p class="item-price">{{ item.buyitnowprice |format_currency('GBP') }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <div class="recap">
            <div>
                <h1 class="btn-add-cart">Total: {{ total|format_currency('GBP') }}</h1>
            </div>
            <div>
                <a href="{{ path('app_cart_checkout_fill_address') }}"><h1 class="btn-add-cart">Checkout</h1></a>
            </div>
            <div>
                <a href="{{ path('app_cart_clear') }}"><h1 class="btn-add-cart">Clear</h1></a>
            </div>


        </div>


    </div>






{% endblock %}
