{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
{% block body %}



    <h2 class="titre">Account</h2>

    {{ form_start(form) }}
<div class="main-grid">
    <div class="grid-left">
    <h3>Personal Details</h3>
    <div class="form-group">
        {{ form_row(form.email) }}
        {{ form_row(form.Firstname) }}
        {{ form_row(form.Prename) }}
    </div>



    <h3>Address Details</h3>
    <div class="form-group">
        {{ form_row(form.address) }}
    </div>

    </div>
    <div class="grid-right">
    <h3>Contact Details</h3>
    <div class="form-group">
        {{ form_row(form.PhoneNumber) }}
    </div>



    <h3>Payment Details</h3>
    <div class="form-group">
        {{ form_row(form.payment) }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn ">Save</button>
    </div>
    </div>
</div>
    {{ form_end(form) }}





{% endblock %}
