{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



{% block body %}
    {% include "_partials/_banner.html.twig" %}

    <div class="contenu">
        <div class="box1 box">
            <h1>Give it a second life</h1>
            <h2>Buying second-hand items has many advantages. First and foremost, it helps reduce our ecological
                footprint by extending the lifespan of existing products. By avoiding buying new, we contribute to the
                preservation of natural resources and the reduction of waste production.</h2>

        </div>
        <div class="box2 box">
            <h1>Sell your items</h1>
            <h2>Selling second-hand items has several benefits. Firstly, it contributes to the circular economy by
                extending the lifespan of goods, reducing waste, and minimizing environmental impact. Additionally, it
                provides an opportunity to earn some extra money. Moreover, selling allows others to enjoy the item at
                an affordable price, fostering exchange and sharing. By participating in the second-hand market, we not
                only reduce waste but also promote a more sustainable and inclusive consumption culture.</h2>
        </div>
        <div class="box3 box">
            <h1>About us</h1>
            <h2>We are an online resale platform dedicated to providing a user-friendly marketplace for buying and
                selling pre-owned items. Our goal is to facilitate seamless transactions between buyers and sellers
                while promoting the circular economy and reducing waste. We firmly believe in the value of second-hand
                goods and their ability to offer unique experiences at affordable prices. Join us in our mission to give
                new life to products while fostering a community of exchange and sharing.</h2>
        </div>
        <div class="box4 box">
            <h1>Our engagement</h1>
            <h2><strong>Sustainability:</strong> We promote responsible consumption by encouraging the buying and
                selling of pre-owned items, reducing environmental impact.<br>
                <strong> Trust and Transparency:</strong> We maintain a trusted environment by verifying profiles, for
                safe transactions.
                <br>
                <strong>Quality and Authenticity:</strong> We ensure the quality and authenticity, for buyer
                satisfaction. <br>
                <strong>Customer Service:</strong> We offer responsive support, addressing inquiries and resolving
                issues to create a positive user experience.</h2>
        </div>
    </div>


{% endblock %}



