{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/Log-Register.js') }}"></script>
{% endblock %}

{% block body %}
    {% include "_partials/_banner.html.twig" %}

    <div class="box-register">
        <div class="container">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert">{{ flash_error }}</div>
            {% endfor %}

            <h1>Register</h1>

            {{ form_start(registrationForm) }}

            {% for field in registrationForm %}
                <div class="form-group {% if field.vars.errors|length > 0 %}has-error{% endif %}">
                    {% if field.vars.name != 'plainPassword' %}
                        {{ form_label(field) }}
                    {% endif %}
                    {{ form_widget(field) }}
                    {{ form_help(field) }}
                    {% for error in field.vars.errors %}
                        <span class="error">{{ error.message }}</span>
                    {% endfor %}
                </div>
            {% endfor %}


            <div class="form-group">
                <button type="submit" class="button">Register</button>
            </div>
            <div>
                <a href="{{ path('app_login') }}">Already have an account? Login!</a>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
  
{% endblock %}


