h3 {
    color: #000000;
    /*background-color: #000000;*/
    padding: 10px;
    margin: 20px 0;
    border-top:solid 2px #000000;
}

.main-grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.grid-left{
    border-right:solid 2px #000000;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.grid-right{
    padding-left: 15px;
    padding-right: 15px;
    /*border:solid 2px #3b82f6;*/
}

.titre {
    position: relative;
    top:-30px;
    display: block;
    text-align: center;
    color: #000000;
    font-size: 100px;

}
form{
    position: relative;
    top: -30px  ;
}
.form-group {
    margin-bottom: 20px;
}

label {
    color: #fff;
    font-weight: bold;
    padding-top:3px;
    padding-left: 3px;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    margin-left:5px ;
    margin-right:30px ;
    /*padding: 10px;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    margin-left: 10px;
    padding: 10px 50px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

@media screen and (max-width: 1000px){
    .main-grid{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
    .grid-left{
        border-right:none;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    h3 {
        color: #000000;
        font-size: 85px;
        /*background-color: #000000;*/
        padding: 10px;
        margin: 20px 0;
        border-top:solid 2px #000000;
    }



    label {
        color: #fff;
        font-size: 32px;
        font-weight: bold;
        padding-top:3px;
        padding-left: 3px;
        margin-bottom: 5px;
        display: block;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        margin-left:5px ;
        margin-right:30px ;
        /*padding: 10px;*/
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
        font-size: 32px;
    }

    button[type="submit"] {
        margin-left: 10px;
        padding: 10px 50px;
        background-color: #000000;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 32px;
    }

    button[type="submit"]:hover {
        background-color: #555;
    }

}