.contenu {
    color: #333;
}

h2 {
    text-align: center;
    font-size: 60px;
    color: #000000;
}
.main{
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
form {
    width: 500px;
    border-radius: 10px;
    border: solid 2px #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #eeeeee;
    margin-top: 20px;
    padding: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 7px;
    font-weight: bold;
}

input[type="text"],
select,
textarea {
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 4px;
    width: 200px;
    margin-bottom: 10px;
}

#item_description{
    display: inline-block;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 2px;
    width: 475px;
    height: 200px;
    margin-bottom: 10px;
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


select {
    height: 30px;
}

input[type="file"] {
    margin-top: 5px;
}

.form-group{
    padding-top: 15px;
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*border: solid 2px #000000;*/
}

.btn {
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 25px;
}

.btn:hover {
    background-color: #252525;
}

