.dashboard {
    background-color: #f0f0f0; /* Une couleur de fond claire */
    padding: 20px;  /* Un peu d'espace à l'intérieur de la div */
    border-radius: 5px;  /* Les coins arrondis */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Un peu d'ombre pour un effet 3D */
    max-width: 300px; /* Limiter la largeur */
    margin: auto; /* Centrer la div */
}

.dashboard ul {
    list-style-type: none; /* Supprimer les puces */
    padding: 0; /* Supprimer l'espace à l'intérieur de la liste */
}

.dashboard ul li {
    margin: 10px 0; /* Un peu d'espace entre les éléments de la liste */
}

.dashboard ul li a {
    color: #333; /* Une couleur de texte sombre */
    text-decoration: none; /* Supprimer le soulignement */
    font-size: 1.2em; /* Une police un peu plus grande */
    display: block; /* Pour que tout l'élément de la liste soit cliquable */
    padding: 10px; /* Un peu d'espace à l'intérieur des liens */
    transition: background-color 0.2s; /* Transition douce lors du changement de couleur de fond */
}

.dashboard ul li a:hover {
    background-color: #ddd; /* Une couleur de fond plus foncée lors du survol */
}
