.product-detail {
    display: flex;
    justify-content: space-between;
}

.product-image img {
    max-width: 100%;
}

.product-info {
    flex-grow: 1;
    margin-left: 20px;
}

.btn-add-cart {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.product-detail {
    display: flex;
    justify-content: space-between;
}

.product-image img {
    max-width: 100%;
}

.product-info {
    flex-grow: 1;
    margin-left: 20px;
}

.btn-add-cart {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn-add-cart:hover {
    background-color: #414141;
    color: #ffffff;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.display{
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 40% 60%;
    border-radius: 15px;
    margin-left: 100px;
    margin-right:100px ;
    margin-top: 50px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #f6f6f6;
    /*border: #1f1f1f 2px solid;*/
}

.titre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.gauche{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    /*border: solid 2px #6D28D9;*/
    overflow: hidden;
}
.droite{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
}

.description{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    background-color: #ffffff;
}
.item-price{
    font-weight: 600;
    font-size: 25px;
}
.gauche img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.bas{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

body {
    margin: 0;
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.btn {
    position: absolute;
    top: 50%;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    transform: translateY(-50%);
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, .1);
}

.btn:hover,
.btn:focus {
    color: white;
    background: rgba(0, 0, 0, .2);
}

.btn:focus {
    outline: 1px solid black;
}

.btn.prev {
    left: 1rem;
}

.btn.next {
    right: 1rem;
}
@media screen and (max-width: 1000px){
    .display{
        display: grid;
        grid-template-rows: 400px 400px;
        grid-template-columns: auto;
        border-radius: 15px;
        margin-left: 100px;
        margin-right:100px ;
        margin-top: 50px;
        margin-bottom: 90px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        background-color: #f6f6f6;
        /*border: #1f1f1f 2px solid;*/
    }
}

.recap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right:100px ;
}

.recap ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.recap ul li {
    display: block;
    color: #fff;
    background-color: #333;
    padding: 10px;
    margin-bottom: 5px;
}

.recap ul li a {
    color: #fff;
    text-decoration: none;
}

.recap ul li a:hover {
    text-decoration: underline;
}

.recap ul li h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}