.range-slider {
    position: relative;
    width: 70%;
    height: 80px;
    margin: 50px auto;
}

.slider {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #d3d3d3;
}

.track,
.range,
.thumb {
    position: absolute;
    height: 2px;
}

.track {
    width: 100%;
    background: #fff;
}

.range {
    background: #007bff;
}

.thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    top: -7px;
    border: 2px solid #007bff;
}
