.footer{
    position: relative;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #0c0c0c;
    width: auto;
    height: auto;
    padding: 17px;
    /*border:solid 2px #B0413E;*/
}

.colomn1 a{
    font-weight: 1000;
    font-size: 20px;
    color: white;
}

.colomn a{
    font-weight: 100;
    font-size: 20px;
    color: #c4c4c4;
}

.colomn .gras{
    font-weight: 1000;
    color: white;
}

.clnph{
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    /*border: #3b82f6 solid 2px;*/
    width: 250px;
    height: auto;
    gap:40px;
}

.clnph img{
    width: 40px;
}
.clnph .twitter{
    padding-top: 4px;
}

.cln{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    /*border: #3b82f6 solid 2px;*/
    width: 250px;
    height: auto;
    gap:10px;
}

footer .reseaux{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
}