

.navbar{
    z-index: 3;
    position: relative;
    align-items: center;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
}

.navbar a{
    color: #000000;
    font-size: 20px;
}

.banniere {
    position: relative;
    padding-top: 0px;
    /*border: solid 5px #5B21B6;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /*border: #9b3eb0 solid 5px;*/
    overflow: hidden;
}

.banniere .therock{
    position: absolute;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top;

}


.navbar .logo{
    position: relative;
    top:-15px;
    font-size: 5em;
    font-weight: bold;
}

.navbar .logo img{
   width: 100px;
    padding-top: 50px;
}

.navbar .nav-links ul{
    display: flex;
    align-items: center;
}

img[title]::after {
    content: attr(title);
    display: inline-block;
    background-color: #333;
    color: #e74f4f;
    padding: 5px 10px;
    border-radius: 4px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

img[title]:hover::after {
    opacity: 0.8;
}

.navbar .nav-links ul li{
    margin: 20px;
}

.navbar li a:hover {
    font-weight: 800;
    /*font-size: 22px;*/
    transition: all 0.3s ease;
}



.navbar .menu-hamburger{
    padding-right: 30px;
    z-index: 4;
    display: none;
    width: 90px;
}



@media screen and (max-width: 1000px){
    .navbar{
    padding: 0px;
        height: 200px;
    }
    .navbar .menu-hamburger{
        display:block;
    }

    .nav-links{
        z-index: 3;
        position: absolute;
        top:0;
        left:0;
        background-color: rgba(255,255,255,0.20);
        backdrop-filter: blur(5px);
        width: 100%;
        height:100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .navbar .logo{
        margin-left: 20px;
        margin-top: 20px;
    }

    .navbar .logo img{
        margin-left: 20px;
        width: 200px;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links a{
        font-size: 80px;
        font-weight: 900 ;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 2em;
    }
    .mobile-menu{
        margin-left: 0;

    }

    .slogant h1{
        color: white;
        font-size: 200px;
        font-weight: 1000;
    }
}

.slogant {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 9%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: auto;
    /*border: solid 5px #B0413E;*/
}
.slogant h1 {
    color: white;
    font-size: 125px;
    font-weight: 1000;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
