
@media screen and (max-width: 1000px){
    .slogant {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        margin-top:50%;
        padding-top: 0%;
        padding-left: 0%;
        border: solid 5px #B0413E;
    }


}
.banniere {
    height: 750px;
}

.contenu {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 17% 1fr;
    grid-template-rows: auto auto;
    background-color: white;
    height: auto;
    /*border: solid 5px #B0413E;*/
}

.box {
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    gap:30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*border: #3b82f6 solid 2px;*/
}
.box1{
    background-color: #1f1f1f;
}

.box1 h1, .box1 h2{
color: #ececec;
}
.box1 h2{
    font-weight: 300;
}

.box2{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #ececec;
}

.box2 h1, .box2 h2{
    color: #171717;
}

.box2 h2{
    font-weight: 300;
}

.box3 {
    grid-column-start: 1;
    grid-column-end:3;
    background-color: #d9d9d9;
}

.box3 h1, .box3 h2{
    color: #2d2d2d;
}

.box3 h2{
    font-weight: 300;
}

.box4 {
    background-color: #000000;
}
.box4 h1, .box4 h2{
    color: #ffffff;
}

.box4 h2{
    font-weight: 300;
}

.contenu h1{
    font-size: 25px;
}

.contenu h2{
    font-size: 20px;
}