
main{
    width: 100%;
    /*border:solid 3px #6D28D9;*/
}

.titre-banniere{
    position: absolute;
    top:90px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.titre-banniere h1{
    display: block;
    color: white;
    font-size: 125px;
    font-weight: 1000;
    text-align: center;
}

.banniere{
    height: 130px;
}

.slogant{
    display: none;
}
.filtre{
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.button {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #000000;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 60px;
}

.button:active {
    background-color: #a6a6a6;
}

.left-filter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    /*border: #B0413E solid 5px;*/
}

.catalogue-right{
    /*border: #3b82f6 solid 6px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
}

.main-grid{
    position: relative;
    display: grid;
    grid-template-columns: 320px 1fr;
    /*grid-template-rows: auto;*/
}

.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /*border: black solid 1px;*/
    margin:10px;
    border-radius: 3px;
    overflow: hidden;
}

.under-img {
    padding:12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.element .limg{
    /*border: solid 5px #5B21B6;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    /*border: #9b3eb0 solid 5px;*/
    overflow: hidden;
}

.element .limg img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;

}

.under-img .mess-
right ul {
    text-align: right;
    padding: 0; /* Supprimer le padding par défaut de la liste */
    list-style-type: none; /* Supprimer les puces de la liste */
}

.under-img  .name {
    font-weight: 400;
    font-size: 1.2em;
}

.under-img  .categorie {
    font-weight: 400;
    font-size: 1.12em;
    color: #6e6e6e;
}
.under-img .price {
    font-weight: 400;
    font-size: 1.2em;
    color: black;
}

.under-img  .typsell {
    font-weight: 400;
    font-size: 1.12em;
    color: #6e6e6e;
}

.under-img .mess-right ul li {
    display: block; /* Afficher les éléments <li> en tant que blocs */
}



@media screen and (max-width: 1380px){
    .catalogue-right{
        /*border: #3b82f6 solid 6px;*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
    }

}
@media screen and (max-width: 1090px){
    .catalogue-right{
        /*border: #3b82f6 solid 6px;*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
    }


}

@media screen and (max-width: 1000px){
    .main-grid{
        top:190px;
        display: flex;
        flex-direction: column;
    }
    .left-filter{
        z-index: 1;
        padding: 0px;
        position: absolute;
        top:0;
        left:0;
        background-color: rgba(255,255,255,1);
        backdrop-filter: blur(5px);
        width: 100%;
        height:100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .titre-banniere{
        z-index: 0;
        top:25px;
        left:30px;
        width: 97%;
    }

    .titre-banniere h1{
        z-index:3 ;
        color: #000000;
        font-size: 100px;
    }
    .banniere{
        display: none;
    }

    .filtre{
        display: flex;
    }
    .element{
        border-radius: 40px;
    }


    .catalogue-right{
        /*border: #3b82f6 solid 6px;*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
    }

    .under-img  .name {
        font-weight: 400;
        font-size: 2.2em;
    }

    .under-img  .categorie {
        font-weight: 400;
        font-size: 2em;
        color: #6e6e6e;
    }
    .under-img .price {
        font-weight: 400;
        font-size: 2.2em;
        color: black;
    }

    .under-img  .typsell {
        font-weight: 400;
        font-size: 2em;
        color: #6e6e6e;
    }
    .banniere{
        display: none;
    }
    .navbar{
        position: absolute;
        height: 175px;
    }
    .mobile-menu{
        margin-left: 0;
    }
}

