* {
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Manrope', sans-serif;
}
#page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}




