
.container h1 {
    text-align: center;
    color: #212529;
}

.slogant {
    display: none;
}

.box-register {
    z-index: 2;
    display: flex;
    position: absolute;
    top: 180px;
    left: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*border: solid 5px #B0413E;*/
}

.box-login {
    z-index: 2;
    display: flex;
    position: absolute;
    top: 325px;
    left: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*border: solid 5px #B0413E;*/
}

/*.banniere{*/
/*    height: 750px;*/
/*}*/

.container {
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #212529;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: border .3s ease;
}

.form-group.has-error label,
.form-group.has-error input {
    color: red;
}

.form-group input[type="checkbox"] {
    height: 2em;
    width: 2em;
}

.form-group input[type="radio"] {
    width: auto;
}

.form-group input:focus {
    border-color: #000000;
    outline: none;
}

.form-group .button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background .3s ease;
}

.button:hover {
    background-color: #383838;
}

.form-group input[type="radio"] + label {
    position: relative;
    padding-left: 35px;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    color: #212529;
}

.form-group input[type="radio"] + label:before,
.form-group input[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #ced4da;
    border-radius: 50%;
    background: #ffffff;
    transition: border .3s ease;
}


/* hide radio */
.form-group input[type="radio"] {
    visibility: hidden;
}

.form-group input[type="radio"]:checked + label:before {
    border-color: #c4c4c4;
}

.form-group input[type="radio"] + label:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background: #000000;
    transform: scale(0);
    transition: all .3s ease;
    opacity: 0.1;
}

.form-group input[type="radio"]:checked + label:after {
    transform: scale(1);
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

label[for="registration_form__token"] {
    display: none;
}
