main{
    min-height: 100vh;
}
.button {
    margin: 10px;
    padding: 5px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
h1 {
    color: #333;
}

label {
    color: #333;
    font-weight: bold;
    margin-right: 5px;
}

select {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 4px;
}

option {
    color: #333;
}


table {
    width: 100%;
    margin-bottom: 4em;
    border-collapse: collapse;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.top-table{
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin: 1em;
}