{% extends 'base.html.twig' %}


{% block title %}Admin Users{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}
{% block javascripts %}
    <script defer src="{{ asset('js/filterTable.js') }}"></script>
{% endblock %}

{% block body %}

    <h1>Admin Users</h1>
    <div class="top-table">

        <div>
            <!-- Dropdown to filter users by role -->
            <!-- The 'data-table' attribute should match the ID of the table you want to filter -->
            <!-- The 'data-attribute' attribute should match the data attribute in the rows of the table you want to filter by -->
            <label for="filter-users">Filter by role:</label>
            <select id="filter-users" class="filter-dropdown" data-table="usersTable" data-attribute="role">
                <option value="*">All Roles</option>
                <option value="ROLE_BUYER">Buyers</option>
                <option value="ROLE_SELLER">Sellers</option>
            </select>
        </div>
        <div><a href="{{ path('app_admin_users_add') }}">Add User</a></div>

    </div>
    <!-- Users table -->


    <table id="usersTable" class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr data-role="{{ user.roles|join(',') }}">
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.prename }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    <a href="{{ path('app_admin_users_edit', {id: user.id}) }}">Edit</a>
                    <a href="{{ path('app_admin_users_delete', {id: user.id}) }}"
                       onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No users found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>





{% endblock %}
