{% extends 'base.html.twig' %}

{% block title %}Admin dashboard!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">


{% endblock %}



{% block body %}

    <div class="dashboard">
        <ul>
            <li><a href="{{ path('app_admin_users') }}">Users</a></li>
            <li><a href=" {{ path('app_admin_statistics') }} ">Statistics</a></li>
            <li><a href="{{ path('app_admin_items') }}">Categories</a></li>
        </ul>
    </div>


{% endblock %}
