{% block title %}{% endblock %}
<link rel="stylesheet" href="{{ asset('css/add-seller.css') }}">
{% block body %}
    <div class="main">
        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.Category) }}
        {{ form_row(form.buyItNowPrice) }}
        {{ form_row(form.sellingCategory) }}

        {% if button_label == 'Edit' %}
            <h2>Images</h2>
            {% for image in item.images %}
                <div>
                    <img src="{{ asset('uploads/items/mini/300x300-' ~ image.name ) }}"
                         alt="{{ image.name }}">
                    <a href="{{ path('app_seller_delete_image', {'id': image.id}) }}" data-delete
                       data-token="{{ csrf_token('delete' ~ image.id) }}">Delete</a>
                </div>
            {% endfor %}
        {% endif %}
        {{ form_row(form.images) }}

    <div class="form-group">
        <button type="submit" class="btn ">{{ button_label|default('Add') }}</button>
    </div>
    </div>
    {{ form_end(form) }}


{% endblock %}
