{% extends 'base.html.twig' %}

    {% block title %}Add a new product{% endblock %}
    {% block stylesheets %}
        {{ parent() }}

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
    {% block body %}
        <div class="contenu">
            <h2>Add a product</h2>
            {% include "seller/_form.html.twig" with  {'button_label':'Add'} %}
        </div>


    {% endblock %}
