{% extends 'base.html.twig' %}

{% block title %}Edit a product{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer src="{{ asset('js/image.js') }}"></script>
{% endblock %}

{% block body %}


    <div class="contenu">
        <h2>Edit a product</h2>
        {% include "seller/_form.html.twig" with  {'button_label':'Edit'} %}
    </div>

{% endblock %}
