<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %} - GymRatMarket
    </title>
    <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">




    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    {% block javascripts %}{% endblock %}
</head>

<body>
<div id="page-container">
    <div>
{% include "_partials/_nav.html.twig" %}


{% block body %}
{% endblock %}
    </div>
{% include "_partials/_footer.html.twig" %}

</div>
</body>
</html>
