{% extends 'base.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/item-detail.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer src="{{ asset('js/item-detail.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="display">
        <div class="gauche">

            <div class="carousel" data-carousel>

                <button class="btn prev" data-carousel-btn="prev">◀</button>
                <button class="btn next" data-carousel-btn="next">▶</button>
                <ul data-slides>

                    {% for image in item.images %}
                        <li class="slide" data-active>
                            <img src="{{ asset('uploads/items/mini/300x300-' ~ image.name ) }}" class="card-img-top"
                                 alt="{{ image.name }}">
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="droite">
            <div class="titre">
                <h1>{{ item.name }}</h1>
            </div>
            <div class="description">
                <p class="item-description">{{ item.description }}</p>
            </div>
            <div class="bas">
            <p class="item-price">{{ item.buyitnowprice |format_currency('GBP') }}</p>
            <a href="{{ path('app_cart_add', { id : item.itemid }) }}" class="btn-add-cart" >Ajouter au panier</a>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
