{% extends 'base.html.twig' %}

{% block title %}Hello ItemController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/items.css') }}">
    <link rel="stylesheet" href="{{ asset('css/filter.css') }}">
{% endblock %}
{% block javascript %}
{{ parent() }}
<script defer src="{{ asset('js/items.js') }}"></script>
{% endblock %}

{% block body %}

    {% include '_partials/_banner.html.twig' %}
    <main>
        <div class="titre-banniere">
            <h1>All Items</h1>
        </div>
        <div class="main-grid">
            <div class="filtre">
                <h1 class="button">
                    FILTRE
                </h1>
            </div>
            <div class="left-filter">
                <h2>filter 1</h2>
                <h2>filter 2</h2>
                <h2>filter 3</h2>

            </div>
            <div class="catalogue-right">
                {% for item in items %}
                    <div class="element">
                        <div class="limg">


                            <a href="{{ path('app_item_detail', {id : item.itemid}) }}">
                                {% if item.images is not empty and item.images[0] is defined and item.images[0] is not null %}

                                    <img src="{{ asset('uploads/items/mini/300x300-' ~ item.images[0].name ) }}"
                                             class="card-img-top" alt="{{ item.images[0].name }}">
                                {% else %}
                                    <img src="{{ asset('uploads/items/mini/300x300-07b63d0d7ab97ddedddd9b8d44b538e1.webp') }}"
                                             class="card-img-top" alt="07b63d0d7ab97ddedddd9b8d44b538e1.webp">
                                {% endif %}
                            </a>
                        </div>
                        <div class="under-img">
                            <div>
                                <ul>
                                    <li class="name">{{ item.name() }}</li>
                                    <li class="categorie">{{ item.category.name }}</li>
                                </ul>
                            </div>
                            <div class="mess-right">
                                <ul>
                                    <li class="price">{{ item.buyitnowprice |format_currency('GBP') }}</li>
                                    <li class="typsell">{{ item.sellingCategory.name }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer src="{{ asset('js/items.js') }}"></script>
{% endblock %}
