{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block javascripts %}
    <script defer src="{{ asset('js/filterTable.js') }}"></script>
{% endblock %}
{% block body %}
    <h1>Items Management</h1>

    <!-- Dropdown to filter items by "is sold" status -->
    <!-- The 'data-table' attribute should match the ID of the table you want to filter -->
    <!-- The 'data-attribute' attribute should match the data attribute in the rows of the table you want to filter by -->
    <label for="filter-items">Filter by "is sold":</label>
    <select id="filter-items" class="filter-dropdown" data-table="itemsTable" data-attribute="sold">
        <option value="*">All items</option>
        <option value="0">Not sold</option>
        <option value="1">Sold</option>
    </select>
    <!-- Users table -->
    <table class="table" id="itemsTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>image</th>
            <th>Name</th>
            <th>Seller</th>
            <th>Selling category</th>
            <th>Item category</th>
            <th>Create at</th>
            <th>is sold</th><th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr data-sold="{{ item.issold ? '1' : '0' }}">
                <td>{{ item.itemid }}</td>
                <td>
                    {% if item.images is not empty and item.images[0] is defined and item.images[0] is not null %}
                        <img src="{{ asset('uploads/items/mini/300x300-' ~ item.images[0].name )}}" alt="Image of {{ item.name }}" width="50px" height="50px">
                    {% else %}
                        <img src="{{ asset('uploads/items/mini/300x300-07b63d0d7ab97ddedddd9b8d44b538e1.webp') }}" alt="Image of {{ item.name }}" width="50px" height="50px">
                    {% endif %}
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.seller.fullname }}</td>
                <td>{{ item.sellingCategory.name }}</td>
                <td>{{ item.category.name }}</td>
                <td>{{ item.createdAt()|date }}</td>
                <td>
                    {% if item.issold == true %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                </td>
                <td>{% if item.issold == 0 %}

                    <a href="{{ path('app_seller_edit', {id: item.itemid}) }}">Edit</a>
                    |
                    <a href="{{ path('app_seller_delete', {id: item.itemid}) }}"
                       onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No items found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
